<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.runnershi">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".util.PrefInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_runnershi"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_runnershi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.team.runnershi.feature.runalone.FinishRunMeActivity"></activity>
        <activity android:name="com.team.runnershi.feature.runalone.RunMeActivity" />
        <activity android:name="com.team.runnershi.feature.runalone.WaitMeActivity"/>
        <activity android:name="com.team.runnershi.feature.rundummy.MatchDummyActivity"
            android:exported="true"/>
        <activity android:name="com.team.runnershi.feature.matchfail.MatchFailActivity"
            android:exported="true"/>
        <activity
            android:name="com.team.runnershi.feature.onboard.OnBoardActivity"
            android:exported="true" />
        <activity
            android:name="com.team.runnershi.feature.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".socket.SocketService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- naver map cliend id -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/naver_id" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".feature.run.RunActivity"
            android:exported="true" />
        <activity
            android:name=".feature.run.GoalActivity"
            android:exported="true"></activity>
        <activity android:name="com.team.runnershi.feature.login.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.team.runnershi.feature.runalone.GoalRunMeActivity"
            android:exported="true" />

        <activity
            android:name=".feature.run.MatchProcActivity"
            android:exported="true" />
        <activity android:name=".feature.run.MatchSucActivity" />
        <activity
            android:name="com.team.runnershi.feature.signup.SignUpActivity"
            android:exported="true" />
        <activity android:name=".feature.runcountdown.StartRunActivity" />
        <activity android:name="com.team.runnershi.feature.runcountdown.CountDownActivity"
            android:exported="true"/>
        <activity
            android:name="com.team.runnershi.feature.home.HomeActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.team.runnershi.feature.result.ResultActivity"
            android:exported="true" />
        <activity android:name="com.team.runnershi.feature.finishrun.FinishRunActivity" />
        <activity android:name=".feature.run.RivalActivity" />
        <activity
            android:name="com.team.runnershi.feature.recdetail.RecDetailActivity"
            android:exported="true" />

        <activity android:name=".feature.badgedetail.BadgeDetailActivity"></activity>
    </application>

</manifest>